button {
    width: 5rem;
    height: 3rem;
    font-size: 24px;
    color: antiquewhite;
    
}


.artir {
    background: red;
    border: 1px solid red;
}

.azalt {
    background: green;
    border: 1px solid green;
}